

.card {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1em;


}

.card__name {
    border-bottom: 1px solid beige;
padding-bottom: .5em;

}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: small;
}

.card__label {
    display: block;
    text-transform: uppercase;
    color:rgb(69, 86, 3);
    font-size: medium;
}

.card__data {
    display: flex;
    align-items: center;
    gap: .25em;
}

.icon--gift {
    font-size: 18px;
}


.card__btns {
    border-top: 1px solid beige;
    padding-top: 1em;
    display: inline-flex;
    justify-content: flex-end;
    gap: .5em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: .5em;
}


.btn--delete{
    background-color: brown;
    color: white;
}

.btn--edit {
    background-color: beige;
    border: 1px solid bisque;
}





